h1{
    text-align: center;
    color:rgb(0, 4, 255);
   
   
}h3{
    text-align: center;
    color: orchid;

}
p{
    background-color: papayawhip;
    color: rgb(35, 41, 119);
}
body{background-image:url(https://wallpapercave.com/wp/wp2722874.jpg);}
ul{
    background-color:  rgb(103, 243, 248);
}